[package]
name = "shared"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
path = "src/lib.rs"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }
